.leaderboard-card {
    min-height: 400px;
    overflow-x: auto;
}

.load {
    min-height: 430px;
}

.leader-row:hover {
    background-color: #eee;
    cursor: pointer;
    transition: background-color 0.25s ease;
}
