<md-card>
    <md-card-content class="races-card">
        <div *tdLoading="'load'; mode:'indeterminate'; type:'circle'; strategy:'replace'; color:'accent'" class="load">
            <table td-data-table class="races-table">
                <th td-data-table-column>R#</th>
                <th td-data-table-column>Date</th>
                <th td-data-table-column>Gold</th>
                <th td-data-table-column>Silver</th>
                <th td-data-table-column>Bronze</th>
                <tr td-data-table-row *ngFor="let race of races" [routerLink]="['/races', race.raceNumber]"
                    class="races-table-row">
                    <td td-data-table-cell>{{race.raceNumber}}</td>
                    <td td-data-table-cell>{{race.date | date: 'MM/dd/yyyy'}}</td>
                    <td td-data-table-cell>
                        <div class="medal-time">{{race.goldTime}}</div>
                        <div class="medal-name">{{race.goldName}}</div>
                    </td>
                    <td td-data-table-cell>
                        <div class="medal-time">{{race.silverTime}}</div>
                        <div class="medal-name">{{race.silverName}}</div>
                    </td>
                    <td td-data-table-cell>
                        <div class="medal-time">{{race.bronzeTime}}</div>
                        <div class="medal-name">{{race.bronzeName}}</div>
                    </td>
                </tr>
            </table>
            <div *ngIf="authService.loggedIn()">
                <button md-fab routerLink="/races/add" color="accent" class="floating-add">
                    <md-icon>add</md-icon>
                </button>
            </div>
        </div>
    </md-card-content>
</md-card>
