<form #form="ngForm" [formGroup]="addRaceDataForm" (ngSubmit)="addRaceData()">
    <div layout="row">
        <md-input-container style="width:25%;">
            <input md-input placeholder="Race Number" type="number" formControlName="raceNumber" id="raceNumber"
                   class="form-control"/>
        </md-input-container>
    </div>
    <div layout="row">
        <md-input-container style="width:80%;">
            <textarea md-input formControlName="rawRaceData" placeholder="Tab Separated Race Data" class="form-control"
                      id="rawRaceData" rows="6"></textarea>
        </md-input-container>
    </div>

    <br/>

    <button md-raised-button color="primary" type="submit" [disabled]="!addRaceDataForm.valid">
        <md-icon>save</md-icon>
        Save
    </button>

</form>
