<md-card>
    <md-card-content class="race-details-card">
        <div>
            <button md-button color="accent" [routerLink]="['/races']">
                <md-icon>navigate_before</md-icon>
                Back to Races
            </button>
        </div>
        <h3 class="md-title">Race Number: {{raceNumber}}</h3>
        <table td-data-table>
            <th td-data-table-column>Driver / Lap</th>
            <th td-data-table-column *ngFor="let l of [].constructor(raceStats.maxLaps); let i = index;">{{i+1}}</th>
            <tr *ngFor="let driver of raceStats.drivers" td-data-table-row>
                <td td-data-table-cell>{{driver.name}}</td>
                <td td-data-table-cell *ngFor="let lap of driver.laps">{{lap.time | number : '1.2-2' }}</td>
            </tr>
        </table>
    </md-card-content>
</md-card>
