.driver-card {
    min-height: 400px;
    overflow-x: auto;
}

.img-container {
    background: url(./assets/driver-silo.png) no-repeat 98%;
    background-size: 500px;
}

.inner-card {
    min-height: 400px;
}

.back-button {
    margin-bottom: 8px;
}

.race-info-box {
    border: 1px solid #eee;
    padding: 16px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 8px;
    margin-bottom: 8px;

    .info-label {
        font-weight: bold;
        margin-bottom: 6px;
    }

    .info-value {
        padding: 10px;
        vertical-align: middle;
        text-align: center;
    }
}
